<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Mis <%= title %></p>
    <label>Nombre: </label> Miguel Halys Ortuño
    <br/>
    <img src="http://www.consejosgratis.es/wp-content/uploads/2012/10/capacidades-para-resaltar-tu-curriculum-vitae.jpg" width="80px" alt="Mi foto"/>
  </body>
</html>
