<!DOCTYPE html>
<html>
  <head>
    <title>Mis créditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Mis <%= title %></p>
    <label>Nombre: </label> Miguel Halys Ortuño
    <br/>
    <img src="http://www.consejosgratis.es/wp-content/uploads/2012/10/capacidades-para-resaltar-tu-curriculum-vitae.jpg" width="80px" alt="Mi foto"/>
    <p>En esta página vamos a ver como va mejorando esta versión simple del proyecto Quiz de J.Quemada, profesor de la UPM.</p>
  </body>
</html>
