*                    { margin: 0; padding: 0;text-decoration: none; }
body                 { font: 16px arial, serif; }

\ No newline at end of file
#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 3px solid #999; padding: 1%;
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 20px;}
header, nav, section { background: #fff; text-align: center;}
footer               { background: #eee; text-align: center;}

\ No newline at end of file
