<div id="buscador">
<form method="get" action="/quizes" >
  <legend>
      Busca tu pregunta:
      <input type="text" name="search"/>
      <input type="submit" value="Enviar"/>
      <br/>
      <a href="/quizes/new"><button type="button">Añadir pregunta</button></a>
  </legend>
</form>
</div>

<div id="preguntas">
<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>
  <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
  <% } %>
</table>


</div>
