<form method="get" action="/quizes/<%= quizes[0] %>/answer">
  Pregunta: <%=  quizes[0].pregunta %> <p>
  <input type="text" name="respuesta" value="Respuesta"/>
  <input type="submit" value="Enviar">
</form>
