<form method="get" action="/quizes/<%= quiz.id %>/answer">
  Pregunta: <%  if (quiz.pregunta) {%>
    <%= quiz.pregunta %>
  <% }else{ %>
   <p> recargue la pagina, por favor</p>
  <a href='/views/index.ejs'><input type="button" value ="Recargar" </a>
  <% }%>
  <p>
  <input type="text" name="respuesta" value="Respuesta"/>
  <input type="submit" value="Enviar">
</form>
